{{print "{{Team|"}}
{{- range . }}
{{printf "{{Alumnus|%s|%s|%s" .UserName .FullName .Description }}
{{- if .ThesesString }}|{{.ThesesString}}{{else}}
{{- if gt (len .Theses) 0 -}}
{{printf "|"}}
{{- range .Theses -}}
{{printf "<br/>[%s Thesis], %s. " .URL .Year}}
{{- end }}{{end -}}
{{end -}}
{{print "}}"}}
{{- end }}
{{print "}}"}}
